<section class="main">
  <md-card>
    <md-card-title>Authentication</md-card-title>
    <md-card-content>
      <div *ngIf="profile">
        <div>Hi {{ profile.name }}</div>
        <div>{{title}}</div>
      </div>
    </md-card-content>
    <button md-raised-button color="accent" *ngIf="!authenticated" (click)="login()">Login</button>
    <button md-raised-button color="primary" *ngIf="authenticated" (click)="logout()">Logout</button>
  </md-card>
  <md-card>
    <md-card-title>Template Driven Form</md-card-title>
    <md-card-content>
        <app-template-driven-form></app-template-driven-form>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-title>Code Driven Form</md-card-title>
    <md-card-content>
        <app-code-driven-form></app-code-driven-form>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-title>Routing</md-card-title>
    <md-card-content>
      <div>Lazy Loading</div>
      <div>Control authentication</div>
    </md-card-content>
    <button md-raised-button color="accent" routerLink="/things">Things</button>
  </md-card>
</section>
