
/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
body {
  margin: 0px;
}

.text-center {
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 2%;
}

md-card {
    margin: 10px;
    text-align: center;
}

md-toolbar {
  div {
    min-width: 150px;
  }
}
